/* .center{
    text-align:center;
    
} */
/* .header-set{ */

header {
    padding: 1rem;
    text-align: center;
}

.title-set {
    color: indianred;
    font-size: 50px; 
}

/* input:-ms-input-placeholder {color:#a8a8a8;}
input::-webkit-input-placeholder {color:#a8a8a8;}
input::-moz-input-placeholder {color:#a8a8a8;} */
input:-ms-input-placeholder {color: darkgrey;}
input::-webkit-input-placeholder {color: darkgrey;}
input::-moz-input-placeholder {color: darkgrey;}

/* #sub {
    background-color: gray;
    color: white;
} */

.search_div-set {
	height: 40px;
    width: 400px;
    border: 1px solid salmon;
    /* background: #ffffff; */
    background: whitesmoke;
}

.input-set {
	width: 325px;
	border: 0px;
	padding: 10px;
	font-size: 16px;
    background: whitesmoke;
	outline: none;
	float: left;
}

.search_btn {
	width: 50px;
	height: 100%;
	border: 0px;
	background: salmon;
	outline: none;
	float: right;
	color: #ffffff;
}

.button-set {
    background-color: gray;
    color: white;
    float: right;
}

[type="radio"] {
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.2s ease-in-out;
  }
  
  [type="radio"]:checked {
    border: 0.4em solid indianred;
  }
  
  /* [type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted tomato;
  } */

  hr {
    /* background-color: tomato; */
    border: 0;
    color: gray;
    background-color: gray;
    height: 1.5px;    
  }

  









